<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Co-op Whiteboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/loginPage.css">
</head>

<body>
        <div class="container-fluid vertical-center">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h1>Co-op Whiteboard</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <a href="auth/facebook" class="btn btn-block btn-facebook">
                    <span>
                        <i class="bi bi-facebook"></i>
                        Login with Facebook
                    </span>
                </a>
                <a href="auth/google"  class="btn btn-block btn-google">
                    <span>
                        <i class="bi bi-google"></i>
                        Login with Google
                    </span>
                </a>
            </div>
            <footer class="text-center">
                Developed by NetScape Team
            </footer>
        </div>
</body>

</html>