<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="room-id" id="room-id" placeholder="enter room ID ..." required>
    <button id="btn-join">join room</button>

    <br>

    <input type="text" name="room-name" id="room-name" placeholder="enter room name..." required>
    <button id="btn-create">create room</button>
    
    <script>
        let roomID;
        document.getElementById("btn-join").onclick = () => {
            roomID = document.getElementById("room-id").value;
            if (roomID == "") {
                alert("You've not enter room ID yet.");
            } else {
                location.href = `http://localhost:3000/board/${roomID}`;
            }
        }
    </script>
</body>
</html>