@font-face {
    font-family: 'KG What A Time';
    src: url(/font/KGWhatATime.woff);
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    background-image: url(/images/home/background.png);
    background-size: cover;
}

h1 {
    font-size: 100px;
    font-family: 'KG What A Time', sans-serif;
    color: #26AB7B;
    text-shadow: 4px 4px 1px #91D7C3;
}

.btn-block {
    width: 350px;
    margin: 0 5px;
}

.btn-facebook {
    background-color: #1778F2;
}

.btn-facebook:hover {
    background-color: #2a85f5;
}

.btn-facebook:active {
    background-color: #0461d3;
}

.btn-google {
    background-color: #EA4335;
}

.btn-google:hover {
    background-color: #fa6659;
}

.btn-google:active {
    background-color: #e41a08;
}

.btn span {
    font-size: 20px;
    color: #fff;
}

footer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    color: #FFF;
    background-color: #26AB7B;
}

@media (min-width: 300px) {
    h1 {
        font-size: 70px;
        text-shadow: 2px 2px 1px #91D7C3;
    }
    .btn span {
        font-size: 15px;
    }
    .btn-block {
        width: 200px;
        margin: 5px 5px;
    }
}

@media (min-width:576px) {
    h1 {
        font-size: 80px;
    }
}

@media (min-width:768px) {
    h1 {
        font-size: 90px;
        text-shadow: 3px 3px 1px #91D7C3;
    }
    .btn-block {
        width: 250px;
    }
    .btn span {
        font-size: 20px;
    }
}

@media (min-width:992px) {
    h1 {
        font-size: 100px;
    }
    .btn-block {
        width: 300px;
    }
}

@media (min-width:1200px) {
    h1 {
        font-size: 120px;
        text-shadow: 4px 4px 1px #91D7C3;
    }
    .btn-block {
        width: 350px;
    }
    .btn span {
        font-size: 25px;
    }
}

@media (min-width:1400px) {
    h1 {
        font-size: 140px;
    }
}